<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form method="POST">
        <legend><h3>{{ list.name }} {{ list.birth_year }} г.р. Гражданин {{ list.citizenship}} работает в {{list.work_place}}</h3></legend>
        <legend><h3>{{ list.accounts.sum }}</h3></legend>
    {% for account in list.clients.all %}
    {% for credit in account.accounts.all %}
        <p>{{ account.number }} {{ credit.sum }}</p>
    {% endfor %}
    {% endfor %}

</form>
</body>
</html>